[Unit]
Description=Setup WiFi Access Point
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/raspifm/scripts/setup_ap.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
