[Unit]                                                                                                                 
Description=raspifm                                                                                      
After=network.target                                                                                                   
                                                                                                                       
[Service]                                                                                                              
ExecStart=/opt/raspifm/bin/python /opt/raspifm/app/app.py                                                            
WorkingDirectory=/opt/raspifm
Restart=always
User=$USER
Group=$USER
Environment=VIRTUAL_ENV=/opt/raspifm
Environment=PATH=/opt/raspifm/bin:/usr/bin
StandardOutput=append:/opt/raspifm/logs/output.log
StandardError=append:/opt/raspifm/logs/output.log

[Install]
WantedBy=multi-user.target
